<!--body-->
<table class="table table-condensed table-hover"  border="0">
  <div class="form-group">
    <thead>
        <tr>
          <th><div class="span2">图片</div></th>
          <th><div class="span2">名称</div></th>
          <th><div class="span1">品牌</div></th>
          <th><div class="span2">货号</div></th>
          <th><div class="span1">规格</div></th>
          <th><div class="span1">品类</div></th>
          <th><div class="span1">板规</div></th>
          <th><div class="span1">库存</div></th>
          <th><div class="span2">条形码</div></th>
          <th><div class="span0"></div></th>
          <th><div class="span0"></div></th>
          <th><div class="span0"></div></th>
        </tr>
   </thead>
  </div>
  <div class="form-group">
      <?php {?>
        <tr>
          <td style="overflow:hidden; max-width:150px;"><div class="span2" type="text" id="body_img" placeholder="img">nike</div></td>
          <td style="overflow:hidden; max-width:150px;"><div class="span2" type="text" id="body_name">nike</div></td>
          <td style="overflow:hidden; max-width:150px;"><div class="span1" type="text" id="body_brand">nike</div></td>
          <td style="overflow:hidden; max-width:150px;"><div class="span2" type="text" id="body_number">nike</div></td>
          <td style="overflow:hidden; max-width:150px;"><div class="span1" type="text" id="body_spec">nike</div></td>
          <td style="overflow:hidden; max-width:150px;"><div class="span1" type="text" id="body_cat">nike</div></td>
          <td style="overflow:hidden; max-width:150px;"><div class="span1" type="text" id="body_block">nike</div></td>
          <td style="overflow:hidden; max-width:150px;"><div class="span1" type="text" id="body_quality">nike</div></td>
          <td style="overflow:hidden; max-width:150px;"><div class="span2" type="text" id="body_scan">nike</div></td>
          <td style="overflow:hidden; max-width:150px;"><div class="span0"><button type="button"><a href="http://localhost/pbplatform/Home/Index/productdetail.html"><?php echo $lang["VIEW"]; ?></a></button></div></td>
          <td style="overflow:hidden; max-width: 150px;"><div class="span0"><button type="button"><a href="http://localhost/pbplatform/Home/Index/addallproduct.html"><?php echo $lang["ADD"]; ?></a></button></div></td>
          <td style="overflow:hidden; max-width: 150px;"><div class="span0"><button type="button"><?php echo $lang["DELETE"]; ?></button></div></td>
        </tr>
      <?php }?>
   </div>
</table>
<!--表格下方功能条-->
<div class="row-fluid show-grid">
<div class="span6">
    <!--显示页面数量-->
    <form>
      <div class="btn-group">
        <button data-toggle="dropdown" class="btn dropdown-toggle"><?php echo $lang["SHOW15"]; ?>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#"><?php echo $lang["SHOW25"]; ?></a></li>
          <li><a href="#"><?php echo $lang["SHOW35"]; ?></a></li>
        </ul>
      </div><!-- /input-append -->
</div>
<div class="span6">
<!--分页条
<nav>
<ul class="pagination">
  <li>
    <a href="#" aria-label="Previous">
       <span aria-hidden="true">&laquo;</span>
    </a>
    </li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li>
    <a href="#" aria-label="Next">
    <span aria-hidden="true">&raquo;</span>
    </a>
  </li>
</ul>
</nav>-->
</div>