<html>
<!--body-->
<body id="iframe1" STYLE="background-color: transparent">
<?php
require_once( "App/Home/View/Default/common/head-style.html");
?>
<!--表格-->
<table class="table table-condensed table-hover"  border="0">
  <thead>
  
    <tr data-id="<?php echo $brand['id']; ?>">
   
      <th>货号</th> 
      <th>图片</th>
      <th>品牌</th> 
      <th>产品名称</th>
      <th>规格</th>
      <th>价格</th>
      <th>库存</th>
      <th>条形码</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
<tbody>
    <?php foreach($goods as $body) { ?>
      <tr>
        <td><input type="text" id="body_number" class="span1" value="<?php echo $body['item_code']; ?>"></td>
        <td><image type="text" id="body_img" class="span0" value="<?php echo $body['']; ?>"></td>
        <td><input type="text" id="body_brand" class="span1" value="<?php echo $body['']; ?>"></td>
        <td><input type="text" id="body_name" class="span1" value="<?php echo $body['']; ?>"></td>
        <td><input type="text" id="body_spec" class="span1" value="<?php echo $body['spec']; ?>"></td>
        <td><input type="text" id="body_price" class="span1" value="<?php echo $body['']; ?>"></td>
        <td><input type="text" id="body_quality" class="span1" value="<?php echo $body['']; ?>"></td>
        <td><input type="text" id="body_scan" class="span1" value="<?php echo $body['bar_code']; ?>"></td>
        <td><button type="button" id="body_add" onclick="updateBody($(this));">编辑</button></td>
        <td><button type="button" id="body_delete" onclick="deleteBody($(this));">>删除</button></td>
      </tr>   
  <?php } ?> 
  </tbody>   
</table>
<!--add-->
<form action="" method="post">
  <table class="table table-condensed" border="1">
    <tr>
      <td>货号<input type="text" id="body_number_add" class="span1"></td>
      <td>图片<image type="text" id="body_img_add" class="span1" value="图片"></td>
      <td>品牌<input type="text" id="body_brand_add" class="span1"></td>
      <td>产品名称<input type="text" id="body_name_add" class="span1"></td>
      <td>规格<input type="text" id="body_spec_add" class="span1"></td>
      <td>价格<input type="text" id="body_price_add" class="span1"></td>
      <td>库存<input type="text" id="body_quality_add" class="span1"></td>
      <td>条形码<input type="text" id="body_scan_add" class="span1"></td>
      <td><button type="button" id="body">增加</button></td>
      <input type="hidden" name="api" value="add">
    </tr>     
  </table>
</form>
<!--表格下方功能条-->
    <div class="row-fluid show-grid">
    <div class="span6">
        <!--显示页面数量-->
        <form>
          <div class="btn-group">
            <button data-toggle="dropdown" class="btn dropdown-toggle">显示15个
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">显示25个</a></li>
              <li><a href="#">显示35个</a></li>
            </ul>
          </div><!-- /input-append -->
        </form>
    </div>
    <div class="span6">
  <!--分页条-->
  <nav>
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
        <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<!--api-->
<script type="text/javascript">
  function updateBody(e) {
    var tr = e.parent().parent();
    var id = tr.data("id");
    var number = tr.find("#body_number").val();
    var img = tr.find("#body_img").val();
    var brand = tr.find("#body_brand").val();
    var name = tr.find("#body_name").val();
    var spec = tr.find("#body_spec").val();
    var price = tr.find("#body_price").val();
    var quality = tr.find("#body_quality").val();
    var scan = tr.find("#body_scan").val();
    $("#update_id").val(id);
    $("#update_number").val(item_code);
    $("#update_img").val(img_dir);
    $("#update_brand").val();
    $("#update_name").val();
    $("#update_spec").val(spec);
    $("#update_price").val();
    $("#update_quality").val();
    $("#update_scan").val(bar_code);
    $("#update").submit();
  }
  function deleteBody(e) {
    var tr = e.parent().parent();
    var id = tr.data("id");
    $("#delete_id").val(id);
    $("#delete").submit();
  }

</script>
 <!--更新-->
<form action="" method="post" id="update">
  <input type="hidden" name="id" id="update_id">
  <input type="hidden" name="body_number" id="update_number">
  <input type="hidden" name="body_img" id="update_img">
  <input type="hidden" name="body_brand" id="update_brand">
  <input type="hidden" name="body_name" id="update_name">
  <input type="hidden" name="body_spec" id="update_spec">
  <input type="hidden" name="body_price" id="update_price">
  <input type="hidden" name="body_quality" id="update_scan">
  <input type="hidden" name="api" value="update">
</form>
<!--删除-->
<form action="" method="post" id="delete">
  <input type="hidden" name="id" id="delete_id">
  <input type="hidden" name="api" value="delete">
</form>
</body>     
</html>