<html>
<?php
require_once( "App/Home/View/Default/common/head-style.html" );
?>
<body>
<form action="" method="post">
  <table class="table table-condensed table-hover"  border="1">
    <thead>
      <tr>
        <th></th>
        <th>品牌名</th>
        <th>描述</th>
      </tr>
    </thead>
    <tbody>
      <?php foreach($brands as $brand) { ?>
        <tr>
          <td><input type="checkbox" id="brand0" class="span0"></td>
          <td><input type="text" id="Button1"></td>
          <td><input type="textarea" id="brand2"></td>
        </tr>
      <?php } ?>
    </tbody>
    </table>
</form>
<button class="btn btn-default">提交</button>
</body>
</html>