<html>
<body id="iframe11" STYLE="background-color:transparent">
<?php
require_once( "App/Home/View/Default/common/head-style.html" );
?>
<table class="table table-condensed table-hover"  border="1">
  <thead>
    <tr>
      <th></th>
      <th>名称</th>
      <th>描述</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="checkbox" id="brand0" class="span0"></td>
      <td><image type="textarea" id="Button1" class="brand1"></td>
      <td><input type="text" id="brand2" class="span1"></td>
    </tr>  
  


  </tbody> 
</table>
</body>

</html>