<html>
<?php
   require_once( "App/Home/View/Default/common/head-style.html" );
   require_once( "App/Home/View/Default/common/head.html" );
 ?>
<body id="iframe19">
    <table class="table table-condensed table-hover" border="0">
        <thead>
            <th>长</th>
            <th>宽</th>
            <th>高</th>
            <th>数量</th>
        </thead>
        <tbody>
            <tr>
                <td><input type="text">cm</td>
                <td><input type="text">cm</td>
                <td><input type="text">cm</td>
                <td><input type="text"></td>
            </tr>

        </tbody>
    </table>
</body>
</html>