<html>
<body id="iframe8">
<?php
require_once( "App/Home/View/Default/common/head-style.html" );
require_once( "App/Home/View/Default/common/head.html" );
?>
<table class="table table-condensed table-hover"  border="0">
    <thead>
    <tr>
        <th>客户名称</th>
        <th>客户货号</th>
    </tr>
    </thead>
    <?php {?>
    <tr>
        <td><input type="text" id="customer_name" class="span2"></td>
        <td><input type="text" id="customer_product_no" class="span3"></td>
    </tr>
    <?php }?>
</table>
<!--footer-->
</div>
<?php
    require_once( "App/Home/View/Default/common/footer.html" )
?>
</div>
</body>
</html>