<html>
    <body id="iframe26">
        <h1>标签</h1>
        <form class="form-horizontal" action="" method="post">
            <table class="table table-condensed table-hover" border="0">
                <div class="form-group">
                    <tr>
                        <td>
                            <div class="col-sm-1"><input type="checkbox"></div>
                            <div class="col-sm-2"><input type="text" class="form-control" id="add_lable" name="name"></div>
                            <div class="col-sm-2"><input type="text" class="form-control" id="add_lable" name="name"></div>
                            <div class="col-sm-2"><input type="text" class="form-control" id="add_lable" name="name"></div>
                            <div class="col-sm-2"><input type="text" class="form-control" id="add_lable" name="name"></div>
                            <div class="col-sm-2"><input type="text" class="form-control" id="add_lable" name="name"></div>
                            <div class="col-sm-1"><button><?php echo $lang["ADD"]; ?></button>
                        </td>
                       
                     </tr>
                </div>
            </table>
        </form>
    </body>
</html>
