<html>
    <body id="iframe26">
        <?php
            require_once("App/Home/View/Default/common/head-style.html");
            ?>
        <h1>标签</h1>
        <form class="form-horizontal" action="" method="post">
            <table class="table table-condensed table-hover" border="0">
                <div class="form-group">
                    <tr>
                        <td>
                            <div class="col-sm-1"><input type="checkbox"></div>
                            <div class="col-sm-8"><input type="text" class="form-control" id="add_lable" name="name" ></div>
                        </td>
                        <td>
                            <button class="btn btn-default col-sm-3"><?php echo $lang["ADD"]; ?></button>
                            <input type="hidden" name="api" value="add">
                        </td>
                    </tr>
                </div>
            </table>
        </form>
    </body>
</html>
