
<html>
<head>
  <title></title>
<style>
  body{
  margin-left: 45%;
  margin-top: 10%;
  width: 90%;
  float: middle;
  background-color:#FC6E51;
  //height: 300px;
  //border-radius: 3px 3px 3px 3px;
  //background-image: url();
      }
</style>


</head>
<body>
<!--图片默认
  <div class="bs-docs-example bs-docs-example-images">
            <img class="img-rounded" data-src="holder.js/140x140" alt="169x136" style="width: 169px; height: 136px;" src="img/polarbearlogo.jpg">
  </div>-->
<!--主体-->
<form id="iframe0">
    <div class="control-group">
      <label id="username" for="inputusername" class="control-label">{$lang.index_username}</label>
        <div class="controls">
          <input type="text" id="username">
        </div>
    </div>
    <div class="control-group">
      <label id ="loginpassword" for="inputPassword" class="control-label">{$lang.index_userpassword}</label>
      <div class="controls">
        <input type="password" id="inputPassword">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <label class="checkbox">
          <input id="remeberme" type="checkbox">{$lang.index_remeberme}
      </label><br>
          <button id="loginbutton" class="btn" type="submit" onclick="">{$lang.index_login}</button>
      </div>
    </div>
</form>
</body>
</html>