<html>
<body id="iframe14">
<?php
require_once( "App/Home/View/Default/common/head-style.html" );
require_once( "App/Home/View/Default/common/head.html" );
?>
<table class="table table-condensed table-hover"  border="0">
    <thead>
    <tr>
        <th>首重</th>
        <th>续重</th>

    </tr>
    </thead>
    <?php {?>
    <tr>
        <td><input type="text" id="s_name" class="span1"></td>
        <td><input type="text" id="s_address" class="span1"></td>
    </tr>
    <?php }?>
</table>
<!--footer-->
</div>
<?php
    require_once( "App/Home/View/Default/common/footer.html" )
?>
</div>
</body>
</html>