
<html>
<?php
require_once( "App/Home/View/Default/common/head-style.html");
?>
<head>
<style>
  body{
  margin-left: 45%;
  margin-top: 10%;
  width: 90%;
  float: middle;
  background-color:#FC6E51;
  //background-image: url();
      }
</style>
</head>
<body>
<h1>Polar Bear</h1>
<!--图片默认-->
<div class="bs-docs-example bs-docs-example-images">
  <img style="width: 200px; height: 200px;" src="App/Home/View/Default/Index/image/pb.jpg" class="img-responsive img-rounded" alt="Responsive image">
</div><br>
<!--主体-->
<form id="iframe0">
    <div class="control-group">
     {$lang.index_username}<input id="username">
      </div>
    </div>
    
    <div class="control-group">
      {$lang.index_userpassword}</label><input type="password" id="inputPassword">
        </div>
    </div>


    <div class="control-group">
        <label class="checkbox">
        <input id="remeberme" type="checkbox">{$lang.index_remeberme}<br>
    <div class="control-group">
        <button id="loginbutton" type="button" onclick="Window.open(App/Home/View/Default/Index/index.html)">{$lang.index_login}1111</button>
      </div>
    </div>
</form>
</body>
</html>