<html>
<?php
require_once( "App/Home/View/Default/common/head-style.html" );
?>
<body id="iframe3">
<h1>包装</h1>
<table class="table table-condensed table-hover" border="0">
 <tr id="pro">
	<td><input type="checkbox" class="span1">描述<input type="text" placeholder="单件或大中小包装等"></td>
 </tr>
  <tr id="pro1">
	<td><input type="checkbox" class="span1">净重<input type="text">kg</td>
 </tr>
  <tr id="pro2">
	<td><input type="checkbox" class="span1">毛重<input type="text">kg</td>
 </tr>
  <tr id="pro3">
	<td><input type="checkbox" class="span1">长<input type="text">cm</td>
 </tr>
  <tr id="pro4">
	<td><input type="checkbox" class="span1">宽<input type="text">cm</td>
 </tr>
  <tr id="pro5">
	<td><input type="checkbox" class="span1">高<input type="text">cm</td>
 </tr>
  <tr id="pro6">
	<td><input type="checkbox" class="span1">数量<input type="text" placeholder="一包装袋有多少件"></td>
 </tr>
 <tr id="pro7">
  <td><input type="checkbox" class="span1">全选</td> 
  <td><button type="button"><a href="http://localhost/pbplatform/Home/Index/special.html">修改</a></button></td>
  <td><button type="button">确定</button>       
</tr>
</table>
</body>
</html>


