<html>
  <body id="iframe3">
    <?php
     require_once( "App/Home/View/Default/common/head-style.html" );
     ?>
  <h1>包装</h1>
    <form class="form-inline">
       <table class="table table-condensed table-hover" border="0">
           <tr>
             <div class="form-group">
                <td>
                   <input type="checkbox">
                   <label for="packagedesc">描述</label>
                   <input type="text" class="form-control" id="packagedesc"  placeholder="单件或大中小包装等">
                </td>
             </div>
           </tr>
           <tr>
             <div class="form-group">
                <td>
                   <input type="checkbox">
                   <label for="weightpackage">净重</label>
                   <input type="text" class="form-control" id="weightpackage">kg
                </td>
             </div>
           </tr>
           <tr>
             <div class="form-group">
                <td>
                   <input type="checkbox">
                   <label for="packageweight">毛重</label>
                   <input type="text" class="form-control" id="packageweight">kg
                </td>
             </div>
           </tr>
           <tr>
             <div class="form-group">
                <td>
                   <input type="checkbox">
                   <label for="package">长</label>
                   <input type="text" class="form-control" id="package">cm
                </td>
             </div>
           </tr>
           <tr>
             <div class="form-group">
                <td>
                   <input type="checkbox">
                   <label for="package1">宽</label>
                   <input type="text" class="form-control" id="package1">cm
                </td>
             </div>
           </tr>
           <tr>
             <div class="form-group">
                <td>
                  <input type="checkbox">
                  <label for="packagehigh">高</label>
                  <input type="text" class="form-control" id="packagehigh">cm
                </td>
             </div>
           </tr>
           <tr>
             <div class="form-group">
                <td>
                   <input type="checkbox">
                   <label for="packagemun">数量</label>
                   <input type="text" class="form-control" id="packagemun" placeholder="一包装袋有多少件">
                </td>
             </div>
           </tr>
           <tr>
             <div class="form-group">
               <td><input type="checkbox">全选</td>
               <td><button type="button">修改</button></td>
             </div>
           </tr>
       </table>
    </form>
  </body>
</html>




