<html>
<?php
require_once( "App/Home/View/Default/common/head-style.html" );
?>
<body id="iframe6">
<h1>图片</h1>
	<table border="0">
		<tr id="pic0">
			<td><input type="checkbox" class="span1">首图<input type="text" value="图片"></td>
		 </tr>
		  <tr id="pic1">
			<td><input type="checkbox" class="span1">加工图<input type="text" value="图片"></td>
		 </tr>
		  <tr id="pic2">
			<td><input type="checkbox" class="span1">详情图<input type="text" value="图片"></td>
		 </tr>
		 <tr id="pic3">
		  <td><input type="checkbox" class="span1">全选</td>
		  <td><button type="button"><a href="http://localhost/pbplatform/Home/Index/picture.html">修改</a></button></td>
			 <td><button type="button"><a href="http://localhost/pbplatform/Home/Index/picture.html">增加</a></button></td>
  	      <td><button type="button">确定</button>        
		</tr>
	</table>
</body>
</html>