<html>
<?php
require_once( "App/Home/View/Default/common/head-style.html" );
?>
<body id="iframe6">
<table border="0">
<h1>图片</h1>

<tr id="pic0">
	<td><input type="checkbox" class="span0">首图<input type="text" class="span1" value="图片" ></td>
 </tr>
  <tr id="pic1">
	<td><input type="checkbox">加工图<input type="text" class="span1" value="图片"></td>
 </tr>
  <tr id="pic2">
	<td><input type="checkbox">详情图<input type="text" class="span1" value="图片"></td>
 </tr>
 <tr id="pic3">
  <td><input type="checkbox">全选</td>       
</tr>
</table>
</body>

</html>