<html>
<body id="iframe">
<?php
   require_once( "App/Home/View/Default/common/head-style.html" );
   ?>
<h1>价格</h1>
<form class="form-inline">
    <table class="table table-condensed table-hover" border="0">
        <tr>
            <div class="form-group">
                <td>
                    <input type="checkbox">
                    <label for="salesprice">销售价</label>
                    <input type="text" class="form-control" id="salesprice">
                </td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td>
                    <input type="checkbox">
                    <label for="advicesalesprice">建议销售价</label>
                    <input type="text" class="form-control" id="advicesalesprice">
                </td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td>
                    <input type="checkbox">
                    <label for="price">零售价</label>
                    <input type="text" class="form-control" id="price">
                </td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
                <td>
                    <input type="checkbox">
                    <label for="specialprice">促销价</label>
                    <input type="text" class="form-control" id="specialprice">
                </td>
            </div>
        </tr>
    </table>
</form>
</body>
</html>
