<html>
<?php
require_once( "App/Home/View/Default/common/head-style.html" );
?>
<body id="iframe4" STYLE="background-color:transparent" class="text-center">
<h1>价格</h1>

<table class="table table-condensed table-hover" border="0">
	<tr id="pr0">
      <td><input type="checkbox" class="span0">
      销售价<input type="text"></td>
    </tr>
    <tr id="pr1">
      <td><input type="checkbox" class="span0">建议销售价    
      <input type="text" ></td>
    </tr>
    <tr id="pr2">
      <td><input type="checkbox" class="span0">零售价     
      <input type="text"></td>
    </tr>
    <tr id="pr3">
      <td><input type="checkbox" class="span0">
      促销价<input type="text"></td>
    </tr>
    <tr id="pr4">
      <td><input type="checkbox" class="span0">全选</td>       
    </tr>

</table>
</body>

</html>