<html>
<?php
require_once( "App/Home/View/Default/common/head-style.html" );
?>
<body id="iframe2">
<h1>产品</h1>

<table class="table table-condensed table-hover" border="0" class="text-center">
  <tr id="p1">
    <td><input type="checkbox" class="span1">品牌<input type="text"></td>
  </tr>
   <tr id="p2">
    <td><input type="checkbox" class="span1">产品名称<input type="text"></td>
  </tr>
   <tr id="p3">
    <td><input type="checkbox" class="span1">产品描述<input type="textarea"></td>
  </tr>
   <tr id="p4">
    <td><input type="checkbox" class="span1">配料<input type="textarea"></td>
  </tr>
  <tr id="p5">
    <td><input type="checkbox" class="span1">保质期<input type="text"></td>
  </tr>
  <tr id="p6">
    <td><input type="checkbox" class="span1">销售单位<input type="text"></td>
  </tr>
   <tr id="p7">
    <td><input type="checkbox" class="span1">产地<input type="text"></td>
  </tr>
  <tr id="p8">
    <td><input type="checkbox" class="span1">商品类型
    <form id="p9">
      <select>
        <option></option>
        <option>跨境</option>
        <option>一般贸易</option>
        <option>本地</option>
        <option>全部</option>
      </select>
    </form>
   </td>
  </tr>
  <tr id="p10">
    <td><input type="checkbox" class="span1">品类<input type="text"></td>
  </tr>
  <tr id="p11">
    <td><input type="checkbox" class="span1">HSCODE<input type="text"></td>
  </tr>
   <tr id="p12">
    <td><input type="checkbox" class="span1">规格<input type="text"></td>
  </tr>
   <tr id="p13">
    <td><input type="checkbox" class="span1">板规<input type="text"></td>
  </tr>
  <tr id="p14">
    <td><input type="checkbox" class="span1">箱规<input type="text"></td>
  </tr>
  <tr id="p15">
    <td><input type="checkbox" class="span1">税则号<input type="text"></td>
  </tr>
   <tr id="p16">
    <td><input type="checkbox" class="span1">行邮税<input type="text"></td>
  </tr>
  <tr id="p17">
    <td><input type="checkbox" class="span1">关税<input type="text"></td>
  </tr>
  <tr id="p18">
    <td><input type="checkbox" class="span1">条形码<input type="text"></td>
  </tr>
  <tr id="p19">
    <td><input type="checkbox" class="span1">贸易条款     
    <form id="Button17">
      <select>
        <option></option>
        <option>FOB</option>
        <option>CF</option>
      </select>
     </form>
     </td>
  </tr>
  <tr id="p20">
    <td><input type="checkbox" class="span1">全选</td>
    <td><button type="button">修改</a></button></td>
</table>

</body>
</html>
