<html>
<body id="iframe8" STYLE="background-color:" class="text-center">
<?php
	require_once("App/Home/View/Default/common/head-style.html");
	//require_once( "App/Home/View/Default/common/head.html" );
?>
<div class="container" style="background-color:; width:30%; height:100%;">
    <div class="row-fluid show-grid">
        <!--body-->
        <?php
	require_once("App/Home/View/Default/Index/product.html");
	require_once("App/Home/View/Default/Index/price.html");
	require_once("App/Home/View/Default/Index/package.html");
	require_once("App/Home/View/Default/Index/picture.html");
	require_once("App/Home/View/Default/Index/special.html");
	require_once("App/Home/View/Default/Index/transport.html");
?><br>
    </div>
</div>
</body>
</html>