<html>
<?php
require_once("App/Home/View/Default/common/head-style.html" );
?> 
<!--body-->
<body id="iframe8" STYLE="background-color: transparent" class="text-center">



<?php
require_once("App/Home/View/Default/Index/product.html");
require_once("App/Home/View/Default/Index/price.html");
require_once("App/Home/View/Default/Index/package.html");
require_once("App/Home/View/Default/Index/transport.html");
require_once("App/Home/View/Default/Index/picture.html");
require_once("App/Home/View/Default/Index/special.html");
?><br>
<button>确定</button>
<button>返回顶部</button>

</body>
</html>