<html>
<?php
require_once( "App/Home/View/Default/common/head-style.html" );
?>
<body id="iframe7">
<h1>特殊属性</h1>
<p>-保健品属性</p>

<table class="table table-condensed table-hover" border="0">
 <tr id="s0">
	<td><input type="checkbox" class="span0">剂型<input type="text"></td>
 </tr>
  <tr id="s1">
	<td><input type="checkbox" class="span0">特点<input type="text"></td>
 </tr>
  <tr id="s2">
	<td><input type="checkbox" class="span0">推荐用量<input type="text"></td>
 </tr>
  <tr id="s3">
	<td><input type="checkbox" class="span0">注意事项<input type="text"></td>
 </tr>
  <tr id="s4">
	<td><input type="checkbox" class="span0">成分<input type="text"></td>
 </tr>
  <tr id="s5">
	<td><input type="checkbox" class="span0">储存方式<input type="text"></td>
 </tr>
  <tr id="s6">
	<td><input type="checkbox" class="span0">产地<input type="text"></td>
 </tr>
 <tr id="ps7">
  <td><input type="checkbox" class="span0">全选</td>       
</tr>


</table>
</body>

</html>