<html>
<body id="iframe5">
    <?php
    require_once( "App/Home/View/Default/common/head-style.html" );
    ?>
<h1>运费</h1>
    <form class="form-inline">
        <table class="table table-condensed table-hover" border="0">
            <tr>
                <div class="form-group">
                    <td>
                        <input type="checkbox">
                        <label for="transportmothed">运输方式</label>
                            <select class="form-control" id="transportmothed">
                                <option></option>
                                <option>空运重量</option>
                                <option>空运体积</option>
                                <option>海运整箱</option>
                                <option>海运散装</option>
                            </select>
                    </td>
                </div>
            </tr>
            <tr>
                <div class="form-group">
                    <td>
                        <input type="checkbox">
                        <label for="transportmun">数量</label>
                        <select class="form-control" id="transportmun">
                            <option></option>
                            <option></option>
                            <option>每柜</option>
                            <option>每托</option>
                        </select>
                    </td>
                </div>
            </tr>
            <tr>
                <div class="form-group">
                    <td>
                        <input type="checkbox">
                        <label for="transportprice">价格</label>
                        <input type="text" class="form-control" id="transportprice">
                    </td>
                </div>
            </tr>
            <tr>
                <div class="form-group">
                    <td>
                        <input type="checkbox">
                        <label for="transportplace">出发地</label>
                        <input type="text" class="form-control" id="transportplace">
                    </td>
                </div>
            </tr>
            <tr>
                <div class="form-group">
                    <td>
                        <input type="checkbox">
                        <label for="transporttarget">目的地</label>
                        <input type="text" class="form-control" id="transporttarget">
                    </td>
                </div>
            </tr>
            <tr>
                <div class="form-group">
                    <td>
                        <input type="checkbox">
                        <label for="transporttime">运输时间/天</label>
                        <input type="text" class="form-control" id="transporttime">
                    </td>
                </div>
            </tr>
            <tr>
                <div class="form-group">
                    <td><input type="checkbox">全选</td>
                    <td><button type="button">修改</button></td>
                </div>
            </tr>
        </table>
    </form>
</body>
</html>



