<html>
<?php
require_once( "App/Home/View/Default/common/head-style.html" );
?>
<body id="iframe5" STYLE="background-color:transparent" class="text-center">
<h1>运费</h1>
<tableclass="table table-condensed table-hover" border="0">
 <tr id="t0">
 <input type="checkbox" class="span0">运输方式<br>     
      <form>
        <select>
          <option></option>
          <option>空运重量</option>
          <option>空运体积</option>
          <option>海运整箱</option>
          <option>海运散装</option>
        </select>
      </form>
 </tr><br>
 <tr id="t1">
	<input type="checkbox" class="span0">数量<br>     
	  <form>
	    <select>
	      <option></option>
	      <option>每柜</option>
	      <option>每托</option>
	    </select>
	  </form>
 </tr><br>
 <tr id="t2">
	<input type="checkbox">价格<br><input type="text">
 </tr><br>
  <tr id="t3">
	<input type="checkbox" class="span0">出发地<br><input type="text">
 </tr><br>
  <tr id="t4">
	<input type="checkbox" class="span0">目的地<br><input type="text">
 </tr><br>
  <tr id="t2">
	<input type="checkbox" class="span0">运输时间/天<br><input type="text">
 </tr><br>
 <tr id="t3">
 	<input type="checkbox" class="span0">全选     
</tr><br>

</table>

</body>
</html>