<html>
<?php
require_once( "App/Home/View/Default/common/head-style.html" );
?>
<body id="iframe5">
<table border="0">
<h1>运费</h1>
<tr id="t0">
	<td><input type="checkbox" class="span1">运输方式
	  <form>
        <select>
          <option></option>
          <option>空运重量</option>
          <option>空运体积</option>
          <option>海运整箱</option>
          <option>海运散装</option>
        </select>
      </form>
	</td>
 </tr>
  <tr id="t1">
	<td><input type="checkbox" class="span1">数量
		<form>
	    <select>
	      <option></option>
	      <option>每柜</option>
	      <option>每托</option>
	    </select>
	  </form>
	</td>
 </tr>
  <tr id="t2">
	<td><input type="checkbox" class="span1">价格<input type="text"></td>
 </tr>
  <tr id="t3">
	<td><input type="checkbox" class="span1">出发地<input type="text"></td>
 </tr>
  <tr id="t4">
	<td><input type="checkbox" class="span1">目的地<input type="text"></td>
 </tr>
  <tr id="t5">
	<td><input type="checkbox" class="span1">运输时间/天<input type="text"></td>
 </tr>
 <tr id="t6">
  <td><input type="checkbox" class="span1">全选</td>
  <td><button type="button"><a href="http://localhost/pbplatform/Home/Index/special.html">修改</a></button></td>
  <td><button type="button">确定</button>        
</tr>
</table>
</body>

</html>



