<html>
<?php
require_once( "App/Home/View/Default/common/head-style.html" );
?>
<!--细分隔线-->
<hr noshade size=0 color=#C0C0C0>
<!--增删查改-->
<input type="checkbox" id="button19">全选
        <button>增加</button> 
        <button>编辑</button>
        <button>查询</button> 
        <button>删除</button> 
<!--export-->
选择日期：<input type="date" id="exportdate1">到<input type="date" id="exportdate2">
<button input="" id="expotid">导出</button>

<!--footer-->
<!--进度条
<div class="bs-docs-example">
  <div class="progress progress-striped">
    <div style="width: 20%;" class="bar"></div>
  </div>
</div>-->

      
</html>
