
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>PBCC</title>
<!--header--><!--导航-->
<div class="bs-docs-example">
<div class="navbar">
<div class="navbar-inner">
<div class="container">
  <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </a>
  <a href="#" class="brand">标题</a>
<div class="nav-collapse collapse navbar-responsive-collapse">
  <ul class="nav">
    <li><a  class="active" src="login.html">产品</a></li>
    <li><a  class="active" href="#" >包装</a></li>
    <li><a  class="active" href="#" >价格</a></li>
    <li><a  class="active" href="#">运费</a></li>
    <li><a  class="active" href="#">图片</a></li>
    <li><a  class="active" href="#">客户资料</a></li>
    <li><a  class="active" href="#" >供应商</a></li>
    <li><a  class="active" href="#">采购信息</a></li>
    <li><a  class="active" href="#" >物流</a></li>
    <li><a  class="active" href="#">备案信息</a></li>
    <li><a  class="active" href="#" >品牌</a></li>
    <li><a  class="active" href="#">品类</a></li>
  </ul>
<form action="" class="navbar-search pull-left">
  <input type="text" placeholder="搜索" class="search-query span2">
  <button >搜索</button>
  <a  class="active" href="#">中文</a>
  <a  class="active" href="language.php">English</a>
    </form>
      <ul class="nav pull-right">
        <li class="divider-vertical"></li>
        <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">个人信息 <b class="caret"></b></a>
        <ul class="dropdown-menu">
        <li><a href="#">退出</a></li>
        </ul>
        </li>
      </ul>
</div><!-- /.nav-collapse -->
</div>
</div><!-- /navbar-inner -->
</div><!-- /navbar -->
</div>
</header>
</html> 