
<head>
<link rel="stylesheet" type="text/css" href="/pbplatform/Public/bootstrap/css/bootstrap-responsive.min.css" >
<link rel="stylesheet" type="text/css" href="/pbplatform/Public/bootstrap/css/bootstrap.min.css">
<script src="/pbplatform/Public/bootstrap/js/jquery.js"></script>
<script src="/pbplatform/Public/bootstrap/js/bootstrap.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>PBCC</title>
<style type="text/css">
body{  
  margin-left: 3%;
  margin-right: 3%;
  width: 90%;
  float: left;
  /*background-color: #DCEAF4;
  height: 3000px;
  border-radius: 3px 3px 3px 3px;*/
}
.img-responsive {
    display: inline-block;
    height: auto;
    max-width: 0;
}
</style>
<script type="text/javascript"> 
    //打开窗口即最大化
    self.moveTo(0,0);
    self.resizeTo(screen.availWidth,screen.availHeight);
</script> 
</head>



